beautifulsoup4==4.12.3
certifi>=2024.07.04
cfgv==3.4.0
charset-normalizer==3.3.2
deptree==0.0.12
distlib==0.3.8
filelock==3.13.1
identify==2.5.33
idna>=3.7
importlib-metadata==7.0.1
nodeenv==1.8.0
pip-autoremove==0.10.0
platformdirs==4.2.0
pre-commit==3.6.0
PyYAML==6.0.1
requests>=2.32.0
setuptools>=70.0.0
soupsieve==2.5
urllib3>=2.2.2
virtualenv==20.26.6
zipp>=3.19.1
